<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>J.H.I Blog</title>
  <!-- Font Awesome -->
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
  />
  <!-- Google Fonts -->
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  />
  <!-- Bootstrap core CSS -->
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <!-- Material Design Bootstrap -->
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css"
    rel="stylesheet"
  />

  <link
    href="https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap"
    rel="stylesheet"
  />

  <link
    href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"
    rel="stylesheet"
  />

  <style>
    * {
      margin: 0;
      padding: 0;
    }
    .big-box {
      width: 100%;
      height: 100%;
      margin: 0;
    }
    .right-box {
      background-color: black;
    }
    .left-box,
    .right-box {
      width: 50%;
      height: 100vh;
      float: left;
      position: relative;
      display: flex;
      justify-content: center;
      font-family: "Orbitron", sans-serif;
    }
    .title-left {
      display: inline;
      color: black;
      font-size: 85px;
      font-weight: 400;
      position: absolute;
      right: 10px;
      top: 120px;
    }
    .title-right {
      display: inline;
      color: white;
      font-size: 85px;
      font-weight: 400;
      position: absolute;
      left: 15px;
      top: 120px;
    }
    .profile,
    .post {
      position: absolute;
      bottom: 200px;
      height: 50px;
      display: flex;
      align-items: center;
      padding: 0 15px 0 15px;
      border-radius: 5px;
    }
    .profile a,
    .post a {
      font-size: 40px;
      font-weight: 500;
      color: white;
      font-family: "Orbitron", sans-serif;
      letter-spacing: 2px;
    }
    .post a {
      color: black;
    }
    nav {
      padding: 0 70px 0 70px;
      height: 75px;
      display: flex;
      align-items: center;
      position: relative;
      /* border-bottom: 1px solid #959595; */
      box-shadow: 0px -1px 4px black;
    }
    .nav-title {
      font-size: 40px;
      display: inline;
      font-weight: 400;
      font-family: "PT Sans", sans-serif;
    }
    .nav-component {
      position: absolute;
      right: 50px;
    }
    .navul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
    }
    .navli {
      font-size: 18px;
      display: inline;
      font-weight: 200;
      margin-right: 30px;
      letter-spacing: 1px;
      font-family: "PT Sans", sans-serif;
    }
    a {
      color: black;
    }
    .row {
      margin: 10px 0 0 0;
      width: 100%;
    }
    .textbox {
      height: 200px;
      white-space: pre-line;
      width: 80vw;
    }
    .texttitle {
      font-family: "Noto Sans", sans-serif;
      font-size: 70px;
      font-weight: 400px;
      text-align: center;
    }
    .form-control {
      padding: 15px !important;
      padding-top: 0 !important;
    }
    .centerbox {
      display: flex;
      justify-content: center;
    }
    .card {
      margin-top: 15px;
    }
    .buttonline {
      padding-top: 15px;
      border-top: 1px solid #ced4da;
    }
    .info-color {
      background-color: black !important;
    }
    .usermargin {
      margin-top: 30px !important;
    }
    .userbox {
      margin-top: 100px;
      width: 40vw;
    }
    .nameinput {
      padding: 10px !important;
    }
  </style>
</head>
