<!DOCTYPE html>
<html lang="en">
  <%- include("header"); %>
  <body>
    <div class="big-box">
      <div class="left-box">
        <div class="title-left">J.H.I</div>
        <div class="profile" style="background-color: black;">
          <a href="/api/profile">PROFILE</a>
        </div>
      </div>

      <div class="right-box">
        <div class="title-right">BLOG</div>
        <div class="post" style="background-color: white;">
          <a href="/api/post">POST</a>
        </div>
      </div>
    </div>
    <%- include("footer"); %>
  </body>
</html>
