<!DOCTYPE html>
<html lang="en">
  <%- include("../header"); %>
  <body>
    <%- include("../menu"); %> <%- include("../footer"); %>
    <div
      style="
        display: flex;
        flex-flow: column;
        position: absolute;
        top: 18%;
        left: 8%;
      "
    >
      <h1
        style="
          font-size: 48px;
          font-weight: 900;
          font-family: 'Noto Sans', sans-serif;
          margin-bottom: 40px;
        "
      >
        Jeong Hyeon Il
      </h1>
      <h4 style="font-size: 18px;">
        Korea Digital Media High School
      </h4>
      <h4 style="font-size: 18px;">Club : STEALTH</h4>
    </div>
  </body>
</html>
